<div class="movie-container" *ngIf="movies && movies.length > 0; else noMovies">
  <div *ngFor="let movie of movies" class="movie-card">
    <h2>{{ movie.title }}</h2>
    <img [src]="movie.poster" alt="{{ movie.title }} Poster" class="movie-poster" />
    <p><strong>IMDB ID:</strong> {{ movie.imdbID }}</p>
    <p><strong>IMDB Rating:</strong> {{ movie.imdbRating }}</p>
    <p><strong>Language:</strong> {{ movie.language }}</p>
    <p><strong>Country:</strong> {{ movie.country }}</p>
    <p><strong>Plot:</strong> {{ movie.plot }}</p>
  </div>
</div>

<ng-template #noMovies>
  <p>No movies found</p>
</ng-template>
