<p>user-dashboard works!</p>
<!-- <div *ngIf="movies && movies.length > 0">
  <h3>Movies List:</h3>
  <ul>
    <li *ngFor="let movie of movies">
      <h4>{{ movie.title }} ({{ movie.imdbID }})</h4>
      <img [src]="movie.poster" alt="{{ movie.title }} poster" width="100">
      <p><strong>Country:</strong> {{ movie.country }}</p>
      <p><strong>Language:</strong> {{ movie.language }}</p>
      <p><strong>Plot:</strong> {{ movie.plot }}</p>
      <p><strong>IMDb Rating:</strong> {{ movie.imdbRating }}</p>
    </li>
  </ul>
</div>
<p *ngIf="!movies || movies.length === 0">No movies available.</p> -->
